__pycache__
venv
linux-venv
39-venv
build
dist
logs
bat_files
*.wav
*.mp3
*.spec
*.zip

*/ffmpeg.exe
*/ffprobe.exe

py_audio_server
py_audio_server.exe

Audio Server - Client GUI_resources/
*.mlappinstall
ClientGUI*.m